.btn-primary {
	background-color: #ff3e40;
	box-shadow: 0px 0px 8px #ededed;
	border-radius: 8px;
	padding: 10px;
	color: white;
}

.btn-ver-mas {
	background-color: #ff3e40;
	color: white;
	align-items: center;
    font-weight: 600;
	padding: 3px 8px;
}
