.business-information-sub-title {
	margin-top: 15px;
	font-weight: 600;
	font-size: 18px;
	color: #5e5e5e;
}

.other-business {
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	font-size: 1.125rem;
	color: #5e5e5e;
	
	.ver-mas {
		text-decoration: underline;
		color: #ff3e40;
		font-size: 0.875rem;
	}
}
