//COLORS
$color-primary: #FF3E40;
$color-secondary: #CC3336;
$color-tertiary: #FF6A6C;
$color-text-primary: #5E5E5E;
$color-text-secondary: #9F9F9F;
$color-background: #F9F9F9;
$color-white: #FFF;
$color-black: #000;

//FONT SIZE
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 20px;
$font-2xl: 32px;

//FONT WEIGHT
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

//FONT FAMILY
$font-primary: 'Montserrat', san-serif;
$font-header: 'Permanent Marker', cursive;