.aviso-container {
	width: 100%;
	background-color: white;
	padding: 25px 12px;
	box-shadow: 0px 0px 16px rgba(130, 130, 130, 0.2);
	border-radius: 24px;

	.aviso-info {
		.aviso-titulo {
			color: #5e5e5e;
			font-weight: 600;
			font-size: 1.125rem;
			margin-bottom: 5px;
		}

		.aviso-paraph {
			color: #9f9f9f;
			font-weight: 400;
			font-size: 1rem;
			margin-bottom: 15px;
		}

		.aviso-ver-mas {
			text-decoration: underline;
			color: #ff3e40;
			font-size: 0.875rem;
		}
	}

    img {
        width: 100px;
        height: 80px;
    }
}
