.home{
    overflow: hidden;

    &Header{
        position: relative;
        background-color: $color-primary;
        margin-top: 64px;
        margin-bottom: 24px;
        padding-top: 24px;
        overflow: hidden;

        &-wrapper{
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
            z-index: 10;
        }

        &-paragraph{
            width: 60%;

            p{
                color: $color-white;
                font-size: $font-size-5;
                font-weight: $font-bold;
    
                span{
                    font-family: $font-permanent-marker;
                    font-size: clamp(2.8rem, calc(0.88rem + 4.63vw), 5.58rem);
                    font-weight: $font-regular;
                }
            }
        }
        
        &-image{
            width: 80%;
            place-self: end center;

            img{
                margin-top: -2rem;
            }
        }

        &::after{
            content: '';
            position: absolute;
            bottom: -58%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 150vw;
            border-radius: 50%;
            background-color: $color-background;
            box-shadow: 0 5px 10px rgba($color-text-primary, .5) inset;
        }

        &-polygon{
            position: absolute;

            &-1{
                transform: rotate(100deg);
                top: -12rem;
                left: -15rem;
            }

            &-2{
                transform: rotate(40deg);
                top: 3rem;
                right: -15rem;
            }

            &-3{
                transform: rotate(15deg);
                bottom: -3rem;
                right: -6rem;
            }
        }
    }

    &Main{

        &-title{
            color: $color-primary;

            p{
                font-size: $font-size-2;
                font-weight: $font-semibold;
            }

            h1{
                font-size: $font-size-5;
                font-weight: $font-bold;
            }
        }

        &-inputs{
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin: 24px 0;
        }

        &-illustration{
            position: relative;
            width: 50%;
            margin-inline: auto;
            margin-bottom: -1rem;
            z-index: -1;
        }
    }

    &Footer{
        position: relative;
        display: grid;
        place-content: center;
        text-align: center;
        height: 64px;
        margin-top: 24px;
        color: $color-white;
        font-weight: $font-medium;
        font-size: $font-size--1;

        &::after{
            content: '';
            position: absolute;
            top: 130%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            width: 150%;
            height: 300%;
            border-radius: 50%;
            z-index: -1;
        }
    }
}