.business-information-container {
    width: 100%;
    margin: 40px 0px;

    .business-information-title {
        color: #5E5E5E;
        font-size: 1.125rem;
        font-weight: 600;
        margin: 12px 0px;
    }

    .business-information-paraph {
        margin: 7px 0px;
        color: #9F9F9F;
        font-size: 1rem;
    }

    .business-information-subtitle {
        color: #9F9F9F;
        font-size: 1rem;
        font-weight: 600;
    }
}